<div class="containernav">
    <h2>Navegación</h2>
    <a href="http://localhost:3000/products">Productos</a>
    <a href="http://localhost:3000/carts/{{cart}}">Carrito</a>
    <a href="http://localhost:3000/profile">Perfil</a>
    <a href="http://localhost:3000/users/logout">Cerrar sesion</a>
</div>
<div class="containerFiltros">
    <h2 class="titulo1">Filtros</h2>
    <p class="precios">
        Precio:
        <a href="http://localhost:3000/products?sort=asc">Ascendente</a>
        <a href="http://localhost:3000/products?sort=desc">Descendente</a>
    </p>
    <p class="disponibilidad">
        Disponibilidad:
        <a href="http://localhost:3000/products?status=true">Productos con stock</a>
        <a href="http://localhost:3000/products?status=false">Productos sin stock</a>
    </p>
    <p class="limpiar"><a href="http://localhost:3000/products">Limpiar filtros</a></p>
</div>

<div class="containerBie">
    <h3 style="font-size: 20px;">Bienvenido {{full_name}}</h3>
    <p class="rol">Rol: {{role}}</p>
    <a href="/users/logout">Cerrar sesion</a>

</div>

<div class="product-container">
    {{#if hasProducts}}
        {{#each products}}
            <div class="product-item">
                <img src={{this.thumbnail}} alt="product image" />
                <h3>{{this.title}}</h3>
                <p>${{this.price}}</p>
                <p>
                    <a href="http://localhost:3000/products?category={{this.category}}">{{this.category}}</a>
                </p>
                <p>
                    <a href="http://localhost:3000/products/{{this.id}}">Ver detalle</a>
                </p>
             
            </div>
        {{/each}}
    {{else}}
        <h2>La lista de productos esta vacia</h2>
    {{/if}}
</div>